html{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'NanumSquare', sans-serif; 
    position: absolute;    
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'NanumSquare', sans-serif; 
    position: absolute;
    background: #161616;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box; 
    font-family: 'NanumSquare', sans-serif; 
}

.svg{
    transition: 0.3s;
    cursor: pointer;
}

*.svg:hover{
    opacity: 0.6;
    cursor: pointer;
}

input{
    outline: none;
    background: none;
    border:none;
}

button{
    outline: none;
    background: none;
    border:none;
}